<body class="container">
  <img src="../assets/success.png" height="70" width="70">
  <h2 style="color:green;text-align: center">Congratulations! Payment Successfully</h2>
  <table style="margin: auto;">
    <tr>
      <td>
        <b>Payment_ID: </b>
      </td>
      <td>
          {{payment_id}}
      </td>
    </tr>
    <tr>
      <td>
        <h3 style="color:green">Product Detail</h3>
      </td>
    </tr>
    <tr>
      <td>
          <b>Product_ID: </b>
      </td>
      <td>{{product_id}}</td>
    </tr>
    <tr>
      <td>
          <b>Product_Name: </b>
      </td>
      <td>{{productname}}</td>
    </tr>
    <tr>
      <td>
        <h3 style="color:green">Buyer Detail</h3>
      </td>
    </tr>
    <tr>
      <td>
          <b>Buyer_ID: </b>
      </td>
      <td>{{userid}}</td>
    </tr>
    <tr>
      <td>
          <b>Buyer_Name: </b>
      </td>
      <td>{{name}}</td>
    </tr>
    <tr>
      <td>
        <h3 style="color:green">Shipping Address</h3>
      </td>
    </tr>
    <tr>
      <td><b>{{street}},</b></td>
    </tr>
    <tr>
      <td><b>{{city}},</b></td>
    </tr>
    <tr>
      <td><b>{{state}} - {{pincode}}</b></td>
    </tr>
  </table>
  <div style="text-align:center;margin-top: 2%"><button  class="btn btn-success" type="submit" routerLink="/home">Home</button></div>
</body>