<html>
  <body>
    <div class="container">
      <table  id="myTable" class="mdl-data-table mdl-js-data-table  mdl-shadow--2dp" style="margin:auto;margin-top: 5%;">
        <tr>
          <td style="text-align:center;">
              <h3><b>Payment Methods:</b></h3>
          </td>
        </tr>
        <tr><td></td></tr>
        <tr>
          <td style="text-align:left;font-size: medium;">
            Select a Payment Method
          </td>
        </tr>
        <tr>
          <td>
            <img src="../assets/instamojo.png" (click)="instamojo()" height="60" width="300">
          </td>
        </tr>
        <tr>
          <td>
            <img src="../assets/paypal.png" (click)="paypal()" height="60" width="300">
          </td>
        </tr>
        <tr>
          <td>
            <button style="background-color:gray;color:white;border-radius:8px; height: 40px; width:300px;font-size: 15px" (click)="back()">Back to Website</button>
          </td>
        </tr>
      </table>
    </div>
  </body>
</html>