.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #755139FF;
    color:#F2EDD7FF;
    text-align: center;
}

/* .center{
    text-align: center;
}

.left{
    text-align: left;
    padding-left: 10%
}
.right{
    text-align: right;
    padding-right: 10%
} */

a{
    color: #EE7500
}