<body>
  <div class="container" >
    <h3 style="text-align:center;"><b>My Orders </b></h3>        
    <table id="myTable" class="mdl-data-table mdl-js-data-table  mdl-shadow--2dp" style="text-align-last: center;margin:auto;">
      <tr>
        <th>Product_ID</th>
        <th class="dtl">Product_Name</th>
        <th>Price</th>
        <th>Actions</th>
      </tr>
      <tr *ngFor="let item of order; let i =index">
        <td>{{item.product_id._id}}</td>
        <td class="dtl">{{item.product_id.productname}}</td>
        <td>{{item.product_id.price}}</td>
        <td>
          <button class="btn btn-success" routerLink="/payment">Track Order</button>
          <button class="btn btn-danger" style="margin-left:5%;" (click)="deleteCart(item._id)">Cancel Order</button>
        </td>
      </tr>
    </table>
  </div>   
</body>