@media screen and (min-width: 768px){
    body {
        width: 100%;
    }
    img{
        margin-left:47%;
        margin-right:47%;
        margin-top: 3%;
    }
}

@media screen and (max-width: 768px){
    body {
         width: 100%;
    }
    img{
        margin-left:40%;
        margin-right:40%;
        margin-top: 3%;
    }
}