<html>
  <head>
    <style>
      @media screen and (min-width: 768px){
        body {
          width: 100%;
        }
        img{
          margin-left:47%;
          margin-right:47%;
          margin-top: 3%;
        }
      }
      @media screen and (max-width: 768px){
        body {
          width: 100%;
        }
        img{
          margin-left:40%;
          margin-right:40%;
          margin-top: 3%;
        }
      }
    </style>
  </head>
  <body class="container">
    <img src="../assets/failed.png" height="70" width="70">
    <h2 style="color:red;text-align: center">Oops! Payment Failed</h2>
    <table style="margin: auto;">
      <tr>
        <td>
          <b>Payment_ID: </b>
        </td>
        <td>
            {{payment_id}}
        </td>
      </tr>
      <tr>
        <td >
          <h3 style="color:red">Buyer Detail</h3>
        </td>
      </tr>
      <tr>
        <td>
            <b>Buyer_ID: </b>
        </td>
        <td>{{userid}}</td>
      </tr>
      <tr>
        <td>
            <b>Buyer_Name: </b>
        </td>
        <td>{{name}}</td>
      </tr>
      <tr>
        <td colspan="2" style="text-align:center;">
          
        </td>
      </tr>
    </table>
    <div style="text-align:center;margin-top: 2%"><button  class="btn btn-success" type="submit" routerLink="/home">Home</button></div>
  </body>
</html>