.demo-card-image.mdl-card {
    width: 700px;
    height: 500px;
}

.demo-card-image > .mdl-card__actions {
    height: 52px;
    padding: 16px;
    background: rgba(0, 0, 0, 0.2);
}

.demo-card-image__filename {
    color: #fff;
    font-size: 14px;
    font-weight: 500;
}

/* body{
    background-color: #D69764
} */

input{
    width: 3%;
    font-size: 20px;
    margin-left: 1%;
    margin-right: 1%;
    text-align: center;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.increase{
    width:3%;
    font-size:20px;
    background-color:rgb(47, 167, 47);
    color: white;
    border-color: rgb(47, 167, 47);
}

.decrease{
    width:3%;
    font-size:20px;
    background-color:rgb(255, 64, 64);
    color: white;
    border-color: rgb(255, 64, 64);
}

@media screen and (max-width: 768px){
    .demo-card-image.mdl-card, .demo-card-image__filename, .demo-card-image > .mdl-card__actions {
        width: 100%;
    }
    .text{
        margin-left:5%;
        margin-right: 5%;
    }
    .heading{
        margin-left:2%;
        margin-right: 2%;
        text-align: center;
    }
    .increase{
        width:10%;
        font-size:20px;
        background-color:rgb(47, 167, 47);
        color: white;
        border-color: rgb(47, 167, 47);
    }
    .decrease{
        width:10%;
        font-size:20px;
        background-color:rgb(255, 64, 64);
        color: white;
        border-color: rgb(255, 64, 64);
    }
    input{
        width: 10%;
        font-size: 20px;
        margin-left: 1%;
        margin-right: 1%;
        text-align: center;
    }
}

@media screen and (min-width: 769px){
    .demo-card-image.mdl-card, .demo-card-image__filename, .demo-card-image > .mdl-card__actions {
        width: 60%;
    }
    .text{
        margin-left:24%;
        margin-right: 24%;
    }
    .heading{
        margin-left:15%;
        margin-right: 15%;
        text-align: center;
    }
}