.demo-card-square.mdl-card {
    width: 320px;
    height: 400px;
}

.demo-card-square > .mdl-card__title {
    color: #F2EDD7FF;
}

body{
    background-color: #D69764
}

@media screen and (min-width: 1025px){
    .demo-card-square, .mdl-card {
        width: 100%;
        height: 400px;
    }
    .demo-card-square > .mdl-card__title {
        color: #F2EDD7FF;
    }
    body{
        text-align:-webkit-center;
        padding-left:11%;
        padding-right: 11%;  
    }
    div{
        margin:0.5% 0.5% 0.5% 0.5%;
    }
    pagination-controls, .my-pagination{
        text-align: center;
    }
}

@media screen and (width: 1024px){
    .demo-card-square, .mdl-card {
        width: 100%;
        height: 400px;
    }
    .demo-card-square > .mdl-card__title {
        color: #F2EDD7FF;
    }
    body{
        text-align:-webkit-center;
        padding-left:15%;
        padding-right: 15%;  
    }
    div{
        margin:0.5% 0.5% 0.5% 0.5%;
    }
    pagination-controls, .my-pagination{
        text-align: center;
    }
}

@media screen and (width: 1024px) and (orientation:landscape){
    .demo-card-square, .mdl-card {
        width: 100%;
        height: 400px;
    }
    .demo-card-square > .mdl-card__title {
        color: #F2EDD7FF;
    }
    body{
        text-align:-webkit-center;
        padding-left:15%;
        padding-right: 15%;  
    }
    div{
        margin:0.5% 0.5% 0.5% 0.5%;
    }
    pagination-controls, .my-pagination{
        text-align: center;
    }
}

@media screen and (min-width: 769px) and (max-width: 1023px){
    .demo-card-square, .mdl-card {
        width: 100%;
        height: 500px;
    }
    .demo-card-square > .mdl-card__title {
        color: #F2EDD7FF;
    }
    body{
        text-align:-webkit-center;
        padding-left: 2%;
        padding-right: 2%;
    }
    div{
        margin:0.5% 0.5% 0.5% 0.5%;
    }
}

@media screen and (width: 768px){
    .demo-card-square, .mdl-card {
        width: 100%;
        height: 500px;
    }
    .demo-card-square > .mdl-card__title {
        color: #F2EDD7FF;
    }
    body{
        text-align:-webkit-center;
        padding-left: 4%;
        padding-right: 4%;
    }
    div{
        margin:0.5% 0.5% 0.5% 0.5%;
    }
}

@media screen and (max-width: 767px){
    .demo-card-square, .mdl-card {
        width: 100%;
        height: 400px;
    }
    .demo-card-square > .mdl-card__title {
        color: #F2EDD7FF;
    }
    body{
        text-align:-webkit-center;
        padding-left: 5%;
        padding-right: 5%;
    }
    div{
        margin-top:0.5%;
        margin-bottom: 0.5%;
    }
    .cardwidth{
        width: 100%;
    }
}

@media screen and (width: 320px){
    .demo-card-square, .mdl-card {
        width: 100%;
        height: 400px;
    }
    .demo-card-square > .mdl-card__title {
        color: #F2EDD7FF;
    }
    body{
        text-align:-webkit-center;
        padding-left: 0%;
        padding-right: 0%;
    }
    div{
        margin-top:0.5%;
        margin-bottom: 0.5%;
    }
    .cardwidth{
        width: 100%;
    }
}