.demo-card-square.mdl-card {
    width: 320px;
    height: 400px;
}

.demo-card-square > .mdl-card__title {
    color: #fff;
}

@media screen and (max-width: 768px){
    .demo-card-square.mdl-card, .demo-card-square > .mdl-card__title   {
        width: 100%;
    }
}